<main class="my-projects">
  <div class="container background-style">
    <div class="description">
      <h3>Snake</h3>
      <span><i>Snake</i> is a video game that originated during the late 1970s in arcades becoming
something of a classic. It became the standard pre-loaded game
on Nokia phones in 1998.&#13;&#10; The player controls a long, thin creature,
resembling a snake, which roams around on
a bordered plane, picking up food (or some
other item), trying to avoid hitting its own tail. Each time
the snake eats a piece of food, its tail grows
longer, making the game increasingly
difficult. The user controls the direction of
the snake's head (up, down, left, or right),
and the snake's body follows.
      </span>
    </div>
    <div class="image"><%= image_tag('my_projects/1.png')%></div>
  </div>

  <div class="container background-style">
    <div class="image"><%= image_tag('my_projects/2.png')%></div>
    <div class="description">
      <h3>Game of Life</h3>
      <span>John Conway’s Game of Life
The Game of Life is not your typical computer game. It is a cellular automaton, and was invented
        by Cambridge mathematician John Conway.

This game became widely known when it was mentioned in an article published by Scientific
        American in 1970. It consists of a collection of cells which, based on a few mathematical
        rules, can live, die or multiply. Depending on the initial conditions, the cells form various
        patterns throughout the course of the game.
      </span>
    </div>
  </div>
</main>