<main class="content">


  <div class="background-style">
      <span>Я - Антон Сикорский, начинающий разработчик веб-приложений. Всегда стараюсь всесторонне развиваться, пробую что-то новое с целью приобретения жизненно полезных навыков. Из нынешних интересов: игра на барабанах, изучение языков программирования (C++, Ruby, JavaScript) и технологий, таких как, например, sql, http, html, css, различных APIs, протоколов (и это даже не весь список!). Также увлекаюсь физикой и научно-исследовательской деятельностью, потому и заканчиваю на данный момент физический факультет Белорусского государственного университета по специальности научно-исследовательская деятельность. В дальнейшем твердо настроен глубже изучать сферу IT-технологий и преуспеть в ней. На данном этапе уже сделана пара игр на языке разработки Ruby и постепенно ведется разработка компьютерной игры в жанре визуального романа. Быстро учусь, усердно работаю и, конечно, занимаюсь тем, что мне нравится, - программированием.
      </span>
  </div>

  <div class="about-me background-style">

    <button id='prevBtn'>Prev</button>

    <div class="slider-container">
      <div class="slide">
        <%= image_tag("slider/me1.JPG", height: '400vh', class: "lastClone") %>
        <%= image_tag("slider/me2.JPG", height: '400vh') %>
        <%= image_tag("slider/me3.JPG", height: '400vh') %>
        <%= image_tag("slider/me4.JPG", height: '400vh', class: "firstClone") %>
      </div>
    </div>

    <button id='nextBtn'>Next</button>
  </div>

  <script >
      const slider = document.querySelector('.slide');
      const slideImages = document.querySelectorAll('.slide img');

      const prevBtn = document.querySelector('#prevBtn')
      const nextBtn = document.querySelector('#nextBtn')

      let counter = 1;
      const size = slideImages[0].clientWidth;

      slider.style.transform = 'translateX(' + (-size * counter) + 'px)';

      nextBtn.addEventListener(('click'), () => {
          if (counter >= slideImages.length - 1) {
              counter = 0;
              slider.style.transition = "transform 0.4s ease-in-out";
              slider.style.transform = 'translateX(' + (-size * (counter)) + 'px)';
          } else {
              slider.style.transition = "transform 0.4s ease-in-out";
              counter++;
              slider.style.transform = 'translateX(' + (-size * counter) + 'px)';
          }
      });

      prevBtn.addEventListener(('click'), () => {
          if (counter <= 0) {
              slider.style.transition = "transform 0.4s ease-in-out";
              counter = slideImages.length - 1;
              slider.style.transform = 'translateX(' + (-size * counter) + 'px)';
          } else {
              slider.style.transition = "transform 0.4s ease-in-out";
              counter--;
              slider.style.transform = 'translateX(' + (-size * counter) + 'px)';
          }
      });

      slider.addEventListener('trnsitioned', () => {
          if (slideImages[counter].class === 'lastClone') {
              slide.style.transition = none;
              counter = slideImages.length - 2;
              slider.style.transform = 'translateX(' + (-size * counter) + 'px)';
          }
          if (slideImages[counter].class === 'firstClone') {
              slide.style.transition = none;
              counter = slideImages.length - counter;
              slider.style.transform = 'translateX(' + (-size * counter) + 'px)';
          }

      });
  </script>

</main>